.flex{
    display: flex;
}

.items-center{
    align-items: center;
}

.justify-between{
    justify-content:space-between ;
}

.btn{
    padding: 0.8rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    border:2px solid transparent;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: all .5s ease;
}

.btn-primary a{
    text-decoration: none;
    color: var(--secondary);
}
.btn-primary{
    background: var(--primary);
    color: var(--secondary);
}
.btn-secondary{
    background: transparent;
    color: var(--primary);
    border-color: var(--primary);
}
.btn-ternary{
    background: #232B99;
    color: var(--pure);
    border-color: var(--pure);
}
.btn-ternary:hover{
    background: transparent;
    border-color: var(--pure);
    color:var(--pure);
}

.btn-primary a:hover{
    background: transparent;
    border-color: var(--primary);
    color:var(--primary);
}
.btn-primary:hover{
    background: transparent;
    border-color: var(--primary);
    color:var(--primary);
}
.btn-secondary:hover{
    background: var(--primary);
    color:var(--secondary);
}

.flex-1{
    flex:1;
}

.justify-center{
    justify-content: center;
}

.section-heading{
    text-align: center;
    
}